import React from 'react';
import t from 'prop-types';

export interface {{pascalCase name}}Props {
}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  <div>
    开发组件
  </div>
};

{{pascalCase name}}.propTypes = {
};

export default {{pascalCase name}};
