---
title: {{pascalCase name}} {{CN}}
nav:
  title: 组件
  path: /components
group:
  title: 组件
---

# {{pascalCase name}} {{CN}}

{{description}}

## 代码演示

### 基本用法

```tsx
import React from 'react';
import { {{pascalCase name}} } from 'qnet-ui';

const {{kebabCase name}} = () => {
  return <div>demo组件</div>;
};
export default {{kebabCase name}};
```

<code src="./demo/basic.tsx"></code>

### API

| 属性 | 说明 | 类型 | 默认值 |
| ---- | ---- | ---- | ---- |
